@import './color.css';
@import './mixin.scss';
html {
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	color: var(--text);
}
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
}
h1, h2, h3, h4, h5 {
	margin-bottom: 1rem;
}
h1 {
	text-transform: uppercase;
}
a {
    text-decoration: none !important;
}
.text-color {
	color: var(--text);
}
.blue, .hoverBlue:hover {
	color: var(--blue);
}
.darkBlue {
	color: var(--darkBlue);
}
.red {
	color: var(--red);
}
.hoverDarkRed:hover {
	color: var(--darkRed);
}
.bg-darkBlue {
	background-color: var(--darkBlue);
}
.btn, .pointer, select, button {
	cursor: pointer;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
	box-shadow: none;
}
.btn {
	border-width: 2px;
	text-transform: uppercase;
}
.noDrop, button:disabled {
	cursor: no-drop;
}
.btn-blue {
	color: #fff;
	background-color: var(--blue);
	border-color: var(--darkBlue);
}
.btn-red {
	color: #fff;
	background-color: var(--red);
	border-color: var(--darkRed);
}
.btn-grey {
	color: #fff;
	background-color: var(--grey);
	border-color: var(--text);
}
.btn-blue, .btn-red, .btn-grey, .btn-inverse-blue, .btn-inverse-red, .btn-inverse-grey {
	min-width: 6.25rem;
}
.btn-blue:hover, .btn-red:hover, .btn-grey:hover, .hover60:hover, .o-60 {
	opacity: 0.6;
}
.hover100:hover {
	opacity: 1;
}
.btn-inverse-blue {
	background-color: #fff;
	border-color: var(--darkBlue);
}
.btn-inverse-blue:hover, .hoverBlueTextWhite:hover {
	color: #fff;
	background-color: var(--blue) !important;
}
.btn-inverse-red {
	background-color: #fff;
	border-color: var(--darkRed);
}
.btn-inverse-red:hover {
	color: #fff;
	background-color: var(--red);
}
.btn-inverse-grey {
	background-color: #fff;
	border-color: var(--text);
}
.btn-inverse-grey:hover {
	color: #fff;
	background-color: var(--grey);
}
.form-control:focus {
	border-color: var(--darkBlue);
	box-shadow: none;
}
.form-control.is-invalid:focus {
	border-color: var(--darkRed);
	box-shadow: none;
}
.header-shadow {
	-webkit-box-shadow: 0px 1px 0px 0px var(--darkBlue);
	-moz-box-shadow: 0px 1px 0px 0px var(--darkBlue);
	box-shadow: 0px 1px 0px 0px var(--darkBlue);
}
.footer-shadow {
	-webkit-box-shadow: 0px -1px 0px 0px var(--darkBlue);
	-moz-box-shadow: 0px -1px 0px 0px var(--darkBlue);
	box-shadow: 0px -1px 0px 0px var(--darkBlue);
}
.box-shadow {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
.hoverWhite:hover {
	color: #fff;
}
/* START Sticky footer */
.flex-grow {
	flex: 1;
}
.flex-column {
	flex-direction: column;
	min-height: 100vh;
	display: flex;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.flex-grow {
		flex: none;
	}
	.flex-column {
		display: block;
	}
}
/* END Sticky footer */
@include media-breakpoint-down(lg) {
	.container {
		max-width: 100%;
	}
}
